body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myHeader {
  background-image: url("https://i.ibb.co/1v6d6nj/Header.jpg");
  background-size: cover;
  height: 14rem;
}


nav .brand-logo {
  position: relative;
}

.content{
  min-height: calc(100vh - 70px - 13rem);
  padding: 1.5rem 0;
}

.linkbtn {
	margin: 1rem;
}

.card {
	display: flex;
	flex-direction: column;
  }

.mySitesList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

.container {
	width: 95%;
}
.mySitesListItem {
margin: 1rem;
}

.descText {
	font-size: 20px;
	text-align: center;
	width: 90%;
	margin-left: 1rem;
	flex-grow: 1;
}

.btncard {
	font-size: 20px;
	text-align: center;
}

.btnlink{
	background-color: silver;
}

.btncard :hover {
	background-color: aqua !important;
}

.sitecard {
	border: solid;
	border-radius: 10px;
	border-color: silver;
	margin: 1rem;
}
.links {
	color: black;
    font-size: 15px;
    font-weight: bolder;
    margin-left: -1.5rem;
    background-color: white;
    padding: 1.5rem;
}

.lilink{
	max-height: 0.5rem;
    padding-bottom: 4.5rem;
    margin-bottom: -0.4rem;
}

.lilink :hover{
	color: aqua;
}

.divlink{
	margin-left: 5rem;
	max-width: 21rem;
}

@media (min-width: 247px) and (max-width: 305px){
	.mySitesList {
		display: block;
	  }
	.myHeader {
		background-size: cover;
		max-height: 3rem;
		min-width: 100%;
	  }
	.divlink {
		display: none;
	}
}

@media (min-width: 306px) and (max-width: 359px){
	.mySitesList {
		display: block;
	  }
	.myHeader {
		background-size: cover;
		max-height: 3.5rem;
		min-width: 100%;
	  }
	.divlink {
		display: none;
	}
}


@media (min-width: 360px) and (max-width: 446px){
	.mySitesList {
		display: block;
	  }
	.myHeader {
		background-size: cover;
		max-height: 4.5rem;
		min-width: 100%;
	  }
	.divlink {
		display: none;
	}
}

@media (min-width: 447px) and (max-width: 564px){
	.myHeader {
		background-size: cover;
		max-height: 5.5rem;
		min-width: 100%;
	}
	.divlink {
		display: none;
	}
}

@media (min-width: 565px) and (max-width: 670px){
	.myHeader {
		background-size: cover;
		max-height: 6.5rem;
		min-width: 100%;
		}
	.divlink {
		display: none;
		}
}

@media (min-width: 671px) and (max-width: 750px){
	.myHeader {
		background-size: cover;
		max-height: 7.5rem;
		min-width: 100%;
	  }
	.divlink {
		display: none;
	}
}

@media (min-width: 751px) and (max-width: 830px){
	.myHeader {
		background-size: cover;
		max-height: 8.5rem;
		min-width: 100%;
	  }
	.divlink {
		display: none;
	}
}

@media (min-width: 831px) and (max-width: 1014px){
	.myHeader {
		background-size: cover;
		max-height: 10rem;
		min-width: 100%;
		}
	.divlink {
		margin-left: 3rem;
	}
	.lilink{
		max-height: 0.5rem;
		padding-bottom: 3rem;
		margin-bottom: -0.3rem;
	}
	.links {
		padding: 1rem;
		margin-left: -0.8rem;
	}
}

@media (min-width: 1014px) and (max-width: 1075px){
	.myHeader {
		background-size: cover;
		max-height: 12.5rem;
		min-width: 100%;
		}
		.divlink {
			margin-left: 3rem;
		}
		.lilink{
			max-height: 0.5rem;
			padding-bottom: 4rem;
			margin-bottom: -0.3rem;
		}
		.links {
			padding: 1rem;
			margin-left: 0rem;
		}
}




@media only screen and (min-width: 0){
html {
    font-size: 14.5px;
}
}
