body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav{
	height: 11rem;
	background-color: #fff;
}

nav .MyName {
  position: relative;
  color: black;
  text-align: center;
  padding-top: 0.1rem;
}

.content{
  min-height: calc(100vh - 70px - 13rem);
  padding: 1.5rem 0;
}

.linkbtn {
	margin: 1rem;
}

.card {
	display: flex;
	flex-direction: column;
  }

.mySitesList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

.container {
	width: 95%;
}
.mySitesListItem {
margin: 1rem;
}

.descText {
	font-size: 20px;
	text-align: center;
	width: 90%;
	margin-left: 1rem;
	flex-grow: 1;
}

.btncard {
	font-size: 20px;
	text-align: center;
}

.btnlink{
	background-color: silver;
}

.btncard :hover {
	background-color: aqua !important;
}

.sitecard {
	border: solid;
	border-radius: 10px;
	border-color: silver;
	margin: 1rem;
}

.MylinkList{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	margin: 0 auto;
    max-width: 1280px;
}

.Mylink{
	text-align: center;
	margin-block: auto;
	margin: 1rem;
}

.imgLink{
	max-width: 55px;
}

.links {
	color: black;
    font-size: 16px;
    font-weight: bolder;
}

.hrefLink :hover{
	color: aqua;
}

.h2MyLink{
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 4rem;
}

.MyStackList{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	margin: 0 auto;
    max-width: 1280px;
}

.StackItem{
	text-align: center;
	margin-block: auto;
	margin: 1rem;
}

.imgStack{
	max-width: 70px;
}

nav .nav-wrapper {
	min-width: 100%;
}

@media (min-width: 250px) and (max-width: 500px){
	
	.MyStackList {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
	.MylinkList{
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
	.mySitesList {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}

	h3{
		font-size: 2.1rem;
	}

	h4{
		font-size: 1.9rem;
	}

	nav{
		height: 11rem;
	}
}

@media (min-width: 250px) and (max-width: 329px){
	nav{
		height: 14rem;
	}
}